[user]
	email = julien@giantswarm.io
	name = Julien Garcia Gonzalez
	signingkey = EC1F03A67D05A111
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore_global
[status]
	submodulesummary = true
[url "git@github.com:"]
	insteadOf = https://github.com/
