[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = true
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Hack 12 
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = system

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default if set, with xdg-open as a fallback
browser = xdg-open

# set size hints for the window
#size_hints = false

# Hide links that are no longer valid in url select overlay mode
filter_unmatched_urls = true

# emit escape sequences for extra modified keys
##modify_other_keys = false

[colors]
color0 = #000000
color1 = #ff7092
color10 = #21f6bc
color11 = #fff787
color12 = #1bccfd
color13 = #e6aefe
color14 = #99d6fc
color15 = #ffffff
color2 = #00fbac
color3 = #fffa6a
color4 = #00bfff
color5 = #df95ff
color6 = #86cbfe
color7 = #ffffff
color8 = #000000
color9 = #ff8aa4
background = #100d23
foreground = #e5e5e5
foreground_bold = #e5e5e5
cursor = #5e35b1
cursor_foreground = #5e35b1 

