[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = true
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Hack 12 
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = system

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default if set, with xdg-open as a fallback
browser = xdg-open

# set size hints for the window
#size_hints = false

# Hide links that are no longer valid in url select overlay mode
filter_unmatched_urls = true

# emit escape sequences for extra modified keys
##modify_other_keys = false

[colors]
# Base16 Materia
# Author: Defman21

foreground          = #ECEFF1
foreground_bold     = #D5DBE5
cursor              = #D5DBE5
cursor_foreground   = #263238
background          = rgba(38, 50, 56)

# 16 color space

# Black, Gray, Silver, White
color0  = #263238
color8  = #617d8a
color7  = #ECEFF1
color15 = #FFFFFF

# Red
color1  = #FF5252
color9  = #fc625d

# Green
color2  = #9CCC65
color10 = #9CCC65

# Yellow
color3  = #fee94e
color11 = #fee94e

# Blue
color4  = #2b98f0
color12 = #2b98f0

# Purple
color5  = #b38bfc
color13 = #b38bfc

# Teal
color6  = #68b6f3
color14 = #68b6f3

# Extra colors
color16 = #EA9560
color17 = #EC5F67
color18 = #2C393F
color19 = #37474F
color20 = #C9CCD3
color21 = #D5DBE5

#
#[colors]
## Base16 OceanicNext
## Author: https://github.com/voronianski/oceanic-next-color-scheme
#
#foreground      = #C0C5CE
#foreground_bold = #CDD3DE
#cursor          = #CDD3DE
##background      = #1C1C1C
#background      = #172D38
#
## 16 color space
#
## Black, Gray, Silver, White
#color0  = #1B2B34
#color8  = #65737E
#color7  = #C0C5CE
#color15 = #D8DEE9
#
## Red
#color1  = #EC5f67
#color9  = #EC5f67
#
## Green
#color2  = #99C794
#color10 = #99C794
#
## Yellow
#color3  = #FAC863
#color11 = #FAC863
#
## Blue
#color4  = #6699CC
#color12 = #6699CC
#
## Purple
#color5  = #C594C5
#color13 = #C594C5
#
## Teal
#color6  = #5FB3B3
#color14 = #5FB3B3
#
## Extra colors
#color16 = #F99157
#color17 = #AB7967
#color18 = #343D46
#color19 = #4F5B66
#color20 = #A7ADBA
#color21 = #CDD3DE
#
